*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: 'lora', sans-serif;
     background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    background-color: deepskyblue;
    /* background-image: url(images/clic.jpg); */
    background-size: 100%;
    filter: alpha(opacity=100);
    overflow: hidden;
    
}
nav{
    display: flex;
    flex-direction: row;
    position:fixed; 
   background-color:yellow;
   width: 100%;
}
.navbar{
    margin-left: 400px;
    padding: auto;
}
.navbar a{
    text-decoration: none;
    color:black;
   margin: 15px;
   font-weight: 600;
}
.navbar a:hover{
    background-color:antiquewhite; 
    border-style: groove;
    border-width:10px;
    color: black;
    border-color:deepskyblue;
}
.logo{
    max-width: 300px;
}
.logo img{
   width: 100px; 
}
.content{
    margin: 200px 0 10px 100px;
    text-align: center; 
}
 .content p{
    background-color: yellow;
 color:black;
 font-size: 30px;
 width: 1000px;
padding: 10px 0 10px 0;
margin-left: 50px;
}
nav button{
    padding: 2px;
    border-radius: 20px;
    background-color:deepskyblue;
}
.navbar button:hover{
    /* border-style: groove; */
    border-width:10px;
    /* border-color: red; */
}
 .forms{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 50px;
} 
.btn{
    margin: 20px;
}
.btn button{
    font-size: 20px;
    border-radius:3px;
    padding: 10px;

}

.btn .s-btn{
    background-color: black;
    border-radius: 5px;
    width: 700px;
    margin-left: 455px;
    padding: 10px;
    padding-top: 10px;
}
.btn .s-btn button{
    margin: 10px;
}
.btn-1{
    background-color: blue;
    border-style: none;
    padding: 10px;
    color: white;
    position: relative;
    top: 3px;
    z-index: 1;
}
.btn-2{
    border-style: none;
    padding-right: 30px;
    position: relative;
    top: 5px;
    z-index: 1;
} 

/* section1 */
.section-1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: deepskyblue;
    margin: 50px;
}
 section h1{
    color: red; 
    text-align: center;
}
.files{
    display: flex;
    flex-direction: row;
}
.file{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; ;
}
.file img{
    width: 100%;
    display: block;
    height: 300px; 
    margin: 20px;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    transition: 3s;
}
.layer:hover{
    background:rgba(243, 43, 43, 0.6)
}
.layer h2{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 5s;
}
.layer:hover h2{
    bottom:50% ;
    opacity: 1;
}

/* section2 */
.section-2 {
 width: 100%; 
}

.section-2 .card-groups{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-2 .card-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-2 .card-group .card{
    background-color: yellow;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
}
.section-2 .card-group .card:hover{
    box-shadow: 0px 0px 50px rgb(102, 102, 59);
    /* transform: translateY(-5%) rotate(1deg);   */
    
}

.section-2 .card-group .card img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.section-2 .card-groups .imgs{
    margin: 5px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section-2 .card-groups .imgs img{
    width: 180px;
    height: 150px;
    margin: 5px;
}
.section-2 .card-groups img:hover{
    box-shadow: 0px 0px 30px rgb(102, 102, 59);
    transform: translateY(-10%) rotate(1deg);  
    
}
/* .section-2 .card-groups .imgs img:hover{
    transform: translate(-50%, -50%);
    animation: myImg 1.5s ;
}
@keyframes myImg{
    0%{
    transform: translate(-50%, -50%) rotate(0deg);    
    }
    100%{
    transform: translate(-50%, -50%) rotate(10deg);    
    } */


/* section3 */
.section-3{
    width: 100%;

}
.section-3 .card-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px;
    /* justify-content: center; */
    /* background-color: red; */
}
.section-3 .card-group .card{
   width: 400px;
   height: 300px;
   margin: 10px;
   border-radius: 10px;
   background-color: rgb(0, 140, 255);
}
.section-3 .card-group .card img{
   width: 300px;
   height: 200px;
}
.section-3 .card-group .card p{
   width: 400px;
   font-size: 17px;

 } 

/* section4 */
.section-4{
    width: 100%;
    background-color: deepskyblue;
}
.section-4 .card-group{
    width:80%; 
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 50px 0 100px 50px;
    padding: 30px;
}
.section-4 .card-group .card-img{
    width: 40%;
}
.section-4 .card-group .card-img img{
    width: 500px;  
    height: 300px;
}

.section-4 .card-group .cards {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    padding-right: 100px;
    width: 50%;

}
.section-4 .card-group .cards .inputs{
    display: flex;
    flex-direction: column;
}
.section-4 .card-group .cards .put{
   margin: 5px;
}
.section-4 .card-group .cards input, select{
    width: 300px;
    height: 50px;
}
.section-4 .card-group .cards input:hover{
   background-color: pink;
   box-shadow: 50px 50px 50px pink;
}
.section-4 .card-group .cards select:hover{
   background-color: pink;
   box-shadow: 50px 50px 50px pink;
}
.section-4 .card-group .cards .inputs .put input:nth-child(5){
    width: 350px;
    height: 100px;
}

.clic{
    width: 100%;
}
.clic .clic-img{
    justify-content: center;
    display: flex;
}
.clic .clic-img .clic-1{
    margin-left: 15px;
}
.clic .clic-1 img{
    width: 300px;
    height: 300px;
    /* position: relative; */
    z-index: 1;
}
.clic .clic-1 p{
    padding: 20px;
    color: white;
    justify-content: center;
    background-color: red;
    width: 130px;
    position:relative ;
    bottom:80px;
    z-index: 2;
}

.blog{
    width: 100%;
}
.blog .bloc{
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog .bloc .card{
    /* padding: 5px; */
    display: flex;
    /* width: 400px;
    height: 100px; */
}
.blog .bloc .card .text{
   font-size: 20px;
   width: 300px;

}
.blog .bloc .card a{
   font-size: 20px;
   width: 300px;
    text-decoration: none;
    color:rgb(75, 58, 88);
    font-weight: 600;
}

.blog img{
    width: 150px;
    height: 100px;
    padding: 5px;
}

/* footer */
footer{
    width: 100%;
    background-color: rgb(231, 170, 113);
    display: flex;
    flex-direction: row;
    padding: 70px;
    justify-content: center;
    text-align: left;
    margin: 30px;
}
footer .footer{
    margin-left: 100px;
    line-height: 20px;
}
footer img{
    width: 100px;
    height: 55px;
}
footer .links{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
footer .links a{
    text-decoration: none;
    color: rgb(26, 82, 28);
    line-height: 35px;
    font-weight: 500;
}
footer .links a:hover{
border-radius: 20px solid red;
background-color: aqua;
}
footer .icon{
    font-size: 22px;
}
footer .icon .bi-twitter{
    color: rgb(0, 204, 255);
}
footer .icon .bi-facebook{
    color: rgb(0, 4, 255);
}
footer .icon .bi-youtube{
    color: red;
}
footer .icon .bi-linkedin{
    color: rgb(0, 110, 255);
}
footer .icon .bi-instagram{
    color: green;
}